RDB_ADDRESS=mysql:3306
RDB_USER=root
RDB_PASS=
RDB_NAME=sportsday
SERVER_HOST=127.0.0.1
SERVER_PORT=8080
SERVER_CORS_ORIGINS=*
AUTH_ISSUER_URL=
AUTH_CLIENT_ID=
AUTH_ROLE_CACHE_TTL=60
DEBUG=true
STORAGE_ENDPOINT=
STORAGE_BUCKET=
STORAGE_ACCESS_KEY=
STORAGE_SECRET_KEY=
STORAGE_WEBHOOK_SECRET=