# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

/*.md
!/README.md

# 一時ファイル
/temp.md

# 重複しているルートのロゴ画像
/logo_admin.png

# スクリーンショット（拡張子で指定）
*.png
*.jpg
*.jpeg
# 特定のディレクトリに固まっている場合は "screenshots/" のようにディレクトリ名で指定